.navbar{
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #230639;
    color: #fff;
}

.navbar .brand{
   margin: 0; 
}

.navbar .colour{
    margin: 0 10px;
    text-align: center;
}

.navbar .colour input{
    border-radius: 5px;
}

.action{
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
}

@media screen and (max-width: 472px){
    .navbar{
        padding: 18px 20px;
    }

    .colour small {
        display: block;
    }
}

.action li{
    display: inline-block;
    margin-left: 10px;
}

.action .action-icon{
    cursor: pointer;
}

.action .action-icon:hover{
    opacity: 0.8;
}

.action .action-icon:active{
    color: chartreuse;
}